@{
    ViewData["Title"] = "Users";
}

<div class="page-content">

    <h3 class="text-theme text-black">
        Executives
        <button class="btn btn-sm btn-theme border-10 create_btn float-right ml-2" id="btn-create-new" onclick="DownloadExecutivesDetails()">Download <i class="fas fa-file-excel"></i></button>
        <button class="btn btn-sm btn-theme border-10 create_btn float-right" id="btn-create-new" onclick="openUserForm()">Create New <i class="fas fa-plus"></i></button>
    </h3>
    <hr class="border-theme" />
    <form id="user-form" style="display:none">
        <input type="hidden" name="Id" id="txt-id" />

        <div class="form-row">
            <div class="col-sm-2 form-group">
                <label class="floating-label" for="txt-name">Name</label>
                <input type="text" name="FirstName" id="txt-name" class="form-control" />
                <div class="invalid-input-feedback">This can not be blank!</div>
            </div>

            <div class="col-sm-2 form-group">
                <label class="floating-label" for="txt-email-id">Email</label>
                <input type="email" name="Username" id="txt-email-id" class="form-control" />
                <div class="invalid-input-feedback"></div>
            </div>

            <div class="col-sm-3">
                <button type="submit" class="btn btn-theme mr-2" id="btn-submit"> Submit</button>
                <button type="button" class="btn btn-danger" id="btn-cancel" onclick="closeUserForm()">Cancel</button>
            </div>
        </div>
    </form>

     <!-- Modal -->
    <div class="modal fade" id="tableModal" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Executive Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                    <div class="row float-align-middle">
                        <div class="col-6"><h3 class="float-align-middle" id="executive_name"></h3></div>
                    </div>
                    <table class="table mt-2">
                        <thead>
                            <tr>
                                <th scope="col">Drive</th>
                                <th scope="col">Scheduled Time</th>
                                <th scope="col">Enrolled Candidates</th>
                                <th scope="col">Token ID</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!-- Users List -->
            <table id="application-user-list" class="table table-sm w-100 table-responsive-md">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th class="doNotExport">Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th class="doNotExport">Action</th>
                    </tr>
                </tfoot>
            </table>
            <!-- Users List End -->
        </div>
    </div>
</div>



@section Scripts{
<script type="text/javascript" src="~/js/sporta-js/application-user.js"></script>
}