body {
  background-color: lightblue;
}

i {
  font-size: x-large;
}

.card {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem;
  padding: 10px 0 0 !important;
  box-shadow: 0 2px 10px -1px rgba(69, 90, 100, 0.3) !important;
  margin-bottom: 30px !important;
  transition: box-shadow 0.2s ease-in-out;
  margin-top: 0px !important;
}

.card .card-body {
  padding: 20px 20px;
}

.card-body {
  flex: 1 1 auto;
}

.card .card-header {
  border-bottom: 1px solid #e2e5e8;
  position: relative;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 0px) calc(0.25rem - 0px) 0 0;
}

.nav_bottom_menu .navbar {
  background: #fff;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  border-bottom: 0;
}

.nav_bottom_menu li.nav-item {
  background-image: linear-gradient(to right, #007bff, #0199d4);
}

.nav_bottom_menu .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.nav_bottom_menu .navbar .nav-link {
  padding: 0.5rem 1rem;
  color: #0199d4;
}

.blue_gradient {
  background-image: linear-gradient(to right, #007bff, #0199d4);
}
