body {
  background: none !important; }

.login-body-left {
  background-image: linear-gradient(270deg, rgba(1, 153, 212, 0.5), rgba(1, 153, 212, 0.5)), url("../../../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#section-login-container {
  height: 100vh;
  width: 100%; }

#section-society-registration {
  display: none; }

#login-form-body {
  background-color: #fff;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center !important;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.1) -10px 10px 15px; }

#society-registration-form-body {
  background-color: #fff;
  position: absolute;
  margin-top: 5%;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.1) -10px 10px 15px; }

#society-registration-form {
  padding: 30px; }
