@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Page Not Found - SPORTA</title>
    <script src="~/js/jquery-3.5.1.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />    
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <!-- CSS style sheets taken from https://sourcegraph.d.musta.ch/airbnb/airbnb/-/blob/app/views/routes/helpful_404.html.erb -->
    <link href="https://a0.muscache.com/airbnb/static/packages/dls/common_o2.1_cereal-4e0adc51966c85fefe84f5454591ffe2.css" media="all" rel="stylesheet" type="text/css">
    <link href="https://a0.muscache.com/airbnb/static/error_pages_pretzel-8249b587d67dfc3b37f6db39ec0a80f1.css" media="all" rel="stylesheet" type="text/css">
    <link rel="icon" href="/img/SP-favicon.ico" sizes="16x16 32x32" type="image/png">

</head>

<body>
 <header class="page-container page-container-responsive space-top-4">
        <a href="/" class="icon link-icon h2">           
             <img src="/img/sps-logo.png" asp-append-version="true" class="img-fluid" width="350">
        </a>
    </header>

<div class="page-container page-container-responsive">
    <div class="row space-top-8 space-8">
        <div class="col-7 col-middle">
            <h1 class="text-jumbo text-ginormous">Oops!</h1>
            <h2>We can't seem to find the page you're looking for.</h2>
            <h6>Error code: 404</h6>
            <ul class="list-unstyled">

                <li>
                    <a href="/" class="btn btn-outline-info">Back to Home</a>
                </li>

            </ul>
        </div>
        <div class="col-5 col-middle text-center">
            <img src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-d652ff855b1335dd3eedc3baa8dc8b69.gif" width="313" height="428" alt="Girl has dropped her ice cream.">
        </div>
    </div>
</div>
</body>
</html>